img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; }

img.displayed-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px; }

.center-button {
    display: inline;
    margin-left: auto;
    margin-right: auto
}

.item-removed {
    text-decoration: line-through !important;
    color: #949494 !important;
}

.item-selected {
    text-decoration: underline !important;
    color: blue !important;
}

.item-2-large {
    font-size: large !important;
}

.item-3-large {
    font-size: x-large !important;
}

.item-4-large {
    font-size: xx-large !important;
}

.containing-element .ui-slider-switch {
    width: 7em !important;
}

.ad-items {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.ad-image {
    height: 25px;
    width: 26px;
    top: .5em !important;
}

.icon-image {
    float: left;
    width:40px;
    height:40px;
    margin-top: 6px;
}

.ui-grid-a h3 {
    font-size: 105%;
}

div[data-role="header"] h1 {
    font-size: 90% !important;
}

div[data-role="footer"] p {
    font-size: 90% !important;
}

#footer p {
    background: url(../images/qoupn.png) 20% 20%;
}

#total {
    background: url(../images/qoupn.png) 20% 20%;
}

.mandatory {
    border-width: 3px !important;
    border-color: #6FACD5 !important;
}

.pot {
    display: none !important;
}

.ui-dialog .ui-dialog-contain { margin-top: 0 }

#uploadImage {
    display:none;
}

#shopping-list-items-page div[data-role="panel"].ui-panel {
    width: 20em;
}
#shopping-list-items-page div[data-role="panel"].ui-panel-closed {
    width: 0;
}
#shopping-list-items-page .ui-panel-position-left.ui-panel-display-reveal {
    left: 0;
}
#shopping-list-items-page .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 20em !important;
    right: -20em !important;
}
#shopping-list-items-page .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
    left: 0 !important;
    right: 0 !important;
    -webkit-transform: translate3d(20em,0,0) !important;
    -moz-transform: translate3d(20em,0,0) !important;
    transform: translate3d(20em,0,0) !important;
}
#shopping-list-items-page .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal {
    left: 0 !important;
    right: 0 !important;
    -webkit-transform: translate3d(20em,0,0) !important;
    -moz-transform: translate3d(20em,0,0) !important;
    transform: translate3d(20em,0,0) !important;
}

.ui-btn-inner > .ui-icon-custom {
    width: 21px !important;
    height: 21px !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.nav-search .ui-btn-up-a {
    background-image:none;
    background-color:#333333;
}

.nav-search .ui-btn-inner {
    border-top: 1px solid #888;
    border-color: rgba(255, 255, 255, .1);
}
.nav-search .ui-btn.ui-first-child {
    border-top-width: 0;
    background: #111;
}


.list-overflow {
    overflow-x: visible !important;
}

.store-icons {
    height: 21px !important;
}

#signup .ui-icon {
    background: url(../images/icons/signup.png) 50% 50% no-repeat;
}

#login .ui-icon {
    background: url(../images/icons/login.png) 50% 50% no-repeat;
}

#logout .ui-icon {
    background: url(../images/icons/logout-nav.png) 50% 50% no-repeat;
}

#logout-nav .ui-icon {
    background: url(../images/icons/logout-nav.png) 50% 50% no-repeat;
}

#edit-profile .ui-icon {
    background: url(../images/icons/edit.png) 50% 50% no-repeat;
}

#subscribe .ui-icon {
    background: url(../images/icons/subscribe.png) 50% 50% no-repeat;
}

#my-merchants .ui-icon {
    background: url(../images/icons/subscribe.png) 50% 50% no-repeat;
}

#selected-merchants .ui-icon {
    background: url(../images/icons/store.png) 50% 50% no-repeat;
}


#unsubscribe .ui-icon {
    background: url(../images/icons/delete.png) 50% 50% no-repeat;
}

#personal-deals .ui-icon {
    background: url(../images/icons/deal.png) 50% 50% no-repeat;
}

#personal-coupons .ui-icon {
    background: url(../images/icons/coupon.png) 50% 50% no-repeat;
}

#show-id .ui-icon {
    background: url(../images/icons/barcode.png) 50% 50% no-repeat;
}

#add .ui-icon {
    background: url(../images/icons/add.png) 50% 50% no-repeat;
}

#add-deal .ui-icon {
    background: url(../images/icons/add.png) 50% 50% no-repeat;
}

#add-coupon .ui-icon {
    background: url(../images/icons/add.png) 50% 50% no-repeat;
}

#delete .ui-icon {
    background: url(../images/icons/delete.png) 50% 50% no-repeat;
}

#search .ui-icon {
    background: url(../images/icons/search.png) 50% 50% no-repeat;
}

#my-shopping-lists .ui-icon {
    background: url(../images/icons/shopping-list-nav.png) 50% 50% no-repeat;
}

#checkout-nav .ui-icon {
    background: url(../images/icons/barcode.png) 50% 50% no-repeat;
}

#profile .ui-icon {
    background: url(../images/icons/profile.png) 50% 50% no-repeat;
}
