<div id="add-active-coupon-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/add-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Add this coupon to My Coupons?</h3></div>
        </div>

        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="AddActiveCoupon:render">
                <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                <add-active-coupon:submit></add-active-coupon:submit>
            </lift:snippet>
        </form>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
    <!-- /content -->
</div>
<!-- /page -->
