<div id="add-shopping-list-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/add-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Create New Shopping List</h3></div>
        </div>

        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="AddShoppingList:render">
                <div id="name"></div>
                <div data-theme="a"
                     data-role="collapsible"
                     data-collapsed-icon="arrow-d"
                     data-expanded-icon="arrow-u"
                     data-content-theme="a" data-iconpos="right">
                    <h4>Add Items to Your List</h4>
                    <div class="container">
                        <div class="ui-grid-a">
                            <div class="ui-block-a" style="width:85%;"></div>
                            <div class="ui-block-b" style="width:15%;"></div>
                        </div>
                    </div>
                    <div id="nextGrid1"></div>
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a" style="width:85%;"></div>
                        <div class="ui-block-b" style="width:15%;"><div id="add"></div></div>
                    </fieldset>
                </div>
                <div id="btn"></div>
            </lift:snippet>
        </form>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
    <!-- /content -->
</div>
<!-- /page -->
