<div id="add-campaign-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/add-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Complete this campaign...</h3></div>
        </div>
        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="AddCampaign:render">
                <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                <add-campaign:id></add-campaign:id>
                <add-campaign:name></add-campaign:name>
                <add-campaign:desc></add-campaign:desc>
                <add-campaign:valid-from></add-campaign:valid-from>
                <add-campaign:valid-to></add-campaign:valid-to>
                <add-campaign:submit></add-campaign:submit>
            </lift:snippet>
        </form>

        <script type="text/javascript">
            $('input[id*="datefield"]').datebox({
                required: true,
                mode: "calbox",
                overrideDateFormat: "%d.%m.%Y",
                useNewStyle: true,
                useFocus: true,
                useClearButton: true,
                useTodayButton: true
            });
        </script>

        <a href="campaigns.html" data-role="button">Cancel</a>
    </div>
    <!-- /content -->
</div>
<!-- /page -->
