<div id="add-shopping-list-item-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/add-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Complete this item...</h3></div>
        </div>
        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="AddShoppingListItem:render">
                <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                <add-shopping-list-item:name></add-shopping-list-item:name>
                <add-shopping-list-item:desc></add-shopping-list-item:desc>
                <add-shopping-list-item:quantity></add-shopping-list-item:quantity>
                <add-shopping-list-item:price></add-shopping-list-item:price>
                <div data-role="fieldcontain">
                    <label for="done">Is done?</label>
                    <add-shopping-list-item:done></add-shopping-list-item:done>
                </div>
                <add-shopping-list-item:submit></add-shopping-list-item:submit>
            </lift:snippet>
        </form>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
    <!-- /content -->
</div>
<!-- /page -->
