<div id="add-merchant-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/add-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Complete merchant...</h3></div>
        </div>
        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="AddMerchant:render">
                <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                <add-merchant:id></add-merchant:id>
                <add-merchant:username></add-merchant:username>
                <add-merchant:password></add-merchant:password>
                <add-merchant:password2></add-merchant:password2>
                <add-merchant:firstname></add-merchant:firstname>
                <add-merchant:lastname></add-merchant:lastname>
                <add-merchant:email></add-merchant:email>
                <add-merchant:companyname></add-merchant:companyname>
                <add-merchant:street></add-merchant:street>
                <add-merchant:town></add-merchant:town>
                <add-merchant:state></add-merchant:state>
                <add-merchant:country></add-merchant:country>
                <add-merchant:image></add-merchant:image>
                <table id="upload">
                    <tr>
                        <td><img src="/static/images/upload.png"/></td>
                        <td><div id="uploadMsg" style="width:100%;">Upload merchant image</div></td>
                    </tr>
                </table>
                <add-merchant:submit></add-merchant:submit>
            </lift:snippet>
        </form>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
    <!-- /content -->
    <script type="text/javascript" src="/static/js/file.upload.js"></script>
</div>
<!-- /page -->
