<div id="campaigns-page" data-role="page" data-theme="e">
    <div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
        <ul data-role="listview" data-theme="a" class="nav-search">
            <li data-icon="delete"><a href="#campaigns-page" data-rel="close">Close Menu</a></li>
            <li data-icon="custom" id="add"><a href="add-campaign.html" data-theme="e">Add Campaign</a></li>
        </ul>
    </div>

    <div data-role="header" data-position="fixed">
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
            <a href="#nav-panel" data-icon="bars" data-role="button" data-iconpos="notext" data-theme="a">Menu</a>
        </fieldset>
        <h1>Campaigns</h1>
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
            <a href="merchants.html" data-icon="back" data-role="button" data-iconpos="notext" data-theme="a">Back</a>
            <a href="#profile-menu" data-rel="popup" id="profile" data-icon="custom" data-role="button" data-iconpos="notext" data-transition="pop" data-theme="a">View profile</a>
        </fieldset>
    </div>
    <!-- /header -->

    <div data-role="popup" id="profile-menu" data-theme="a">
        <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
            <li data-role="divider" data-theme="e">Choose an action</li>
            <li data-icon="custom" id="edit-profile"><a href="edit-profile.html" data-theme="e">Profile</a></li>
            <li data-icon="custom" id="logout-nav"><a data-theme="e" onclick="logout();">Logout</a></li>
        </ul>
    </div>

    <div data-role="content" id="campaign-list-content" class="lift:Campaigns list-overflow">
        <ul id="campaign-items" name="campaign-items" data-role="listview"
            data-filter-placeholder="Search campaigns..." data-divider-theme="d" data-filter="true"
            data-theme="e" data-split-icon="gear" data-split-theme="a" data-count-theme="a">
            <li id="divider-item-1" data-role="list-divider">Draft Campaigns as of <span id="time-1"></span><span id="cnt-1" class="ui-li-count"></span></li>
            <li id="draft-campaign-item">
                <a class="go-to-deals-ignore" href="deals.html?campaign-id=">
                    <img src="/static/images/icons/draft-campaign.png"/>
                    <h3></h3>
                    <p><strong></strong></p>
                    <p class="ui-li-aside">By: <strong></strong></p>
                </a>
                <a class="popupLink" href="#" data-rel="popup" data-transition="pop" data-icon="bars" >Actions...</a>
            </li>
            <li id="divider-item-2" data-role="list-divider">Active Campaigns as of <span id="time-2"></span><span id="cnt-2" class="ui-li-count"></span></li>
            <li id="active-campaign-item">
                <a class="go-to-deals-ignore" href="deals.html?campaign-id=">
                    <img src="/static/images/icons/active-campaign.png"/>
                    <h3></h3>
                    <p><strong></strong></p>
                    <p class="ui-li-aside">By: <strong></strong></p>
                </a>
                <a class="popupLink" href="#" data-rel="popup" data-transition="pop" data-icon="bars" >Actions...</a>
            </li>
            <li id="divider-item-3" data-role="list-divider">Inactive Campaigns as of <span id="time-3"></span><span id="cnt-3" class="ui-li-count"></span></li>
            <li id="inactive-campaign-item">
                <a class="go-to-deals-ignore" href="deals.html?campaign-id=">
                    <img src="/static/images/icons/inactive-campaign.png"/>
                    <h3></h3>
                    <p><strong></strong></p>
                    <p class="ui-li-aside">By: <strong></strong></p>
                </a>
                <a class="popupLink" href="#" data-rel="popup" data-transition="pop" data-icon="bars" >Actions...</a>
            </li>
        </ul>
        <div class="popup-container">
            <div data-role="popup" data-theme="a">
                <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
                    <li data-role="divider" data-theme="e">Choose an action</li>
                    <li data-icon="edit"><a id="edit-campaign" href="edit-campaign.html?campaign-id=" data-rel="dialog">Edit</a></li>
                    <li data-icon="delete"><a id="delete-campaign" href="delete-campaign.html?campaign-id=" data-rel="dialog">Delete</a></li>
                    <li data-icon="alert"><a id="activate-campaign" href="activate-campaign.html?campaign-id=" data-rel="dialog">Activate</a></li>
                    <li data-icon="alert"><a id="deactivate-campaign" href="deactivate-campaign.html?campaign-id=" data-rel="dialog">Deactivate</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /content -->

    <div data-role="footer" data-position="fixed" id="footer" class="footer-docs" style="text-align:center;">
        <p>&copy; 2013 Qoupn Ltd.</p>
    </div>
    <!-- /footer -->

</div>
