<lift:surround with="default" at="content"> <!-- TODO: hack to make things work after image upload on Add/Edit deals/coupons-->
    <div id="change-password-page" data-role="dialog" data-theme="a">
        <div data-role="content">
            <div class="ui-grid-a">
                <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/add-header.png" class="icon-image"/></div>
                <div class="ui-block-b" style="width:80%;"><h3>Enter passwords to be equal...</h3></div>
            </div>
            <lift:msgs showAll="true"></lift:msgs>
            <form class="lift:form.ajax">
                <lift:snippet type="ChangePassword:render">
                    <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                    <change-password:password></change-password:password>
                    <change-password:password2></change-password:password2>
                    <change-password:key></change-password:key>
                    <change-password:submit></change-password:submit>
                </lift:snippet>
            </form>
            <a href="#" data-role="button" data-rel="back">Cancel</a>
        </div>
        <!-- /content -->
    </div>
    <!-- /page -->
</lift:surround>
