<lift:surround with="default" at="content"> <!-- TODO: hack to make things work after image upload on Add/Edit deals/coupons-->
    <div id="deals-page" data-role="page" data-theme="e">
        <div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
            <ul data-role="listview" data-theme="a" class="nav-search">
                <li data-icon="delete"><a href="#deals-page" data-rel="close">Close Menu</a></li>
                <lift:snippet type="CampaignHeader:render"></lift:snippet>
            </ul>
        </div>

        <div data-role="header" data-position="fixed">
            <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
                <a href="#nav-panel" data-icon="bars" data-role="button" data-iconpos="notext" data-theme="a">Menu</a>
            </fieldset>
            <h1>Deals &amp; Coupons</h1>
            <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                <a href="campaigns.html" data-icon="back" data-role="button" data-iconpos="notext" data-theme="a">Back</a>
                <a href="#profile-menu" data-rel="popup" id="profile" data-icon="custom" data-role="button" data-iconpos="notext" data-transition="pop" data-theme="a">View profile</a>
            </fieldset>
        </div>
        <!-- /header -->

        <div data-role="popup" id="profile-menu" data-theme="a">
            <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
                <li data-role="divider" data-theme="e">Choose an action</li>
                <li data-icon="custom" id="edit-profile"><a href="edit-profile.html" data-theme="e">Profile</a></li>
                <li data-icon="custom" id="logout-nav"><a data-theme="e" onclick="logout();">Logout</a></li>
            </ul>
        </div>

        <div data-role="content" id="deal-list-content" class="list-overflow lift:Deals">
            <ul id="deal-items" name="deal-items" data-role="listview"
                data-filter-placeholder="Search deals &amp; coupons..." data-divider-theme="d" data-filter="true"
                data-theme="e" data-split-icon="gear" data-split-theme="a" data-count-theme="a">
                <li id="divider-item-1" data-role="list-divider">Deals as of <span id="time-1"></span><span id="cnt-1" class="ui-li-count"></span></li>
                <li id="deal-item">
                    <a class="go-to-prod-info-ignore" href="product-info.html?deal-id=">
                        <img src="/"/>
                        <h3></h3>
                        <p><strong></strong></p>
                        <p class="ui-li-aside">By: <strong></strong></p>
                    </a>
                    <a class="popupLink" href="#" data-rel="popup" data-transition="pop" data-icon="bars" >Actions...</a>
                </li>
                <li id="divider-item-2" data-role="list-divider">Coupons as of <span id="time-2"></span><span id="cnt-2" class="ui-li-count"></span></li>
                <li id="coupon-item">
                    <a class="go-to-prod-info-ignore" href="product-info.html?coupon-id=">
                        <img src="/"/>
                        <h3></h3>
                        <p><strong></strong></p>
                        <p class="ui-li-aside">By: <strong></strong></p>
                    </a>
                    <a class="popupLink" href="#" data-rel="popup" data-transition="pop" data-icon="bars" >Actions...</a>
                </li>
            </ul>
            <div class="popup-container-1">
                <div data-role="popup" data-theme="a">
                    <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
                        <li data-role="divider" data-theme="e">Choose an action</li>
                        <li data-icon="edit"><a id="edit-deal" href="edit-deal.html?deal-id=" data-rel="dialog">Edit</a></li>
                        <li data-icon="delete"><a id="delete-deal" href="delete-deal.html?deal-id=" data-rel="dialog">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="popup-container-2">
                <div data-role="popup" data-theme="a">
                    <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
                        <li data-role="divider" data-theme="e">Choose an action</li>
                        <li data-icon="edit"><a id="edit-coupon" href="edit-coupon.html?coupon-id=" data-rel="dialog">Edit</a></li>
                        <li data-icon="delete"><a id="delete-coupon" href="delete-coupon.html?coupon-id=" data-rel="dialog">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /content -->

        <div data-role="footer" data-position="fixed" id="footer" class="footer-docs" style="text-align:center;">
            <p>&copy; 2013 Qoupn Ltd.</p>
        </div>
        <!-- /footer -->

    </div>
</lift:surround>
