<div data-role="popup" data-theme="e" class="ui-content" style="max-width:350px;">
    <div class="ui-grid-a">
        <div class="ui-block-a" style="width:35%;"><img src="/static/images/icons/info-header.png" class="icon-image"/></div>
        <div class="ui-block-b" style="width:65%;"><h3>Basic info</h3></div>
    </div>

    <p class="name"><strong>Name: </strong></p>
    <p class="desc"><strong>Description: </strong></p>
    <p class="price"><strong>Price: </strong></p>
    <p class="discount"><strong>Discount: </strong></p>
    <p class="from"><strong>From: </strong></p>
    <p class="to"><strong>To: </strong></p>
</div>