<div id="edit-patrner-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/edit-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Complete this merchant...</h3></div>
        </div>
        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="EditMerchant:render">
                <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                <edit-merchant:id></edit-merchant:id>
                <edit-merchant:name></edit-merchant:name>
                <edit-merchant:street></edit-merchant:street>
                <edit-merchant:town></edit-merchant:town>
                <edit-merchant:state></edit-merchant:state>
                <edit-merchant:country></edit-merchant:country>
                <edit-merchant:userid></edit-merchant:userid>
                <edit-merchant:image></edit-merchant:image>
                <table id="upload">
                    <tr>
                        <td><img src="/static/images/upload.png"/></td>
                        <td><div id="uploadMsg" style="width:100%;">Upload merchant image</div></td>
                    </tr>
                </table>
                <edit-merchant:submit></edit-merchant:submit>
            </lift:snippet>
        </form>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
    <!-- /content -->
    <script type="text/javascript" src="/static/js/file.upload.js"></script>
</div>
<!-- /page -->
