<div id="edit-coupon-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/edit-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Complete this coupon...</h3></div>
        </div>
        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax" enctype="multipart/form-data" data-ajax="false">
            <lift:snippet type="EditCoupon:render">
                <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                <edit-coupon:id></edit-coupon:id>
                <edit-coupon:name></edit-coupon:name>
                <edit-coupon:desc></edit-coupon:desc>
                <edit-coupon:valid-from></edit-coupon:valid-from>
                <edit-coupon:valid-to></edit-coupon:valid-to>
                <edit-coupon:original-price></edit-coupon:original-price>
                <edit-coupon:discount-price></edit-coupon:discount-price>
                <edit-coupon:discount-percent></edit-coupon:discount-percent>
                <edit-coupon:count></edit-coupon:count>
                <edit-coupon:image></edit-coupon:image>
                <table id="upload">
                    <tr>
                     <td><img src="/static/images/upload.png"/></td>
                     <td><div id="uploadMsg" style="width:100%;">Upload coupon image</div></td>
                    </tr>
                </table>
                <edit-coupon:remove></edit-coupon:remove>
                <edit-coupon:submit></edit-coupon:submit>
            </lift:snippet>
        </form>

        <script type="text/javascript">
            $('input[id*="datefield"]').datebox({
                required: true,
                mode: "calbox",
                overrideDateFormat: "%d.%m.%Y",
                useNewStyle: true,
                useFocus: true,
                useClearButton: true,
                useTodayButton: true
            });
        </script>

        <a href="deals.html" data-role="button">Cancel</a>
    </div>
    <!-- /content -->
    <script type="text/javascript" src="/static/js/file.upload.js"></script>
</div>
<!-- /page -->
