<div id="add-shopping-list-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/edit-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Change the name...</h3></div>
        </div>

        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="EditShoppingList:render">
                <div id="name"></div>
                <div id="btn"></div>
            </lift:snippet>
        </form>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
    <!-- /content -->
</div>
<!-- /page -->
