<div id="edit-profile-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/edit-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Complete your profile...</h3></div>
        </div>

        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="EditProfile:render">
                <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                <edit-profile:username></edit-profile:username>
                <edit-profile:email></edit-profile:email>
                <edit-profile:firstname></edit-profile:firstname>
                <edit-profile:lastname></edit-profile:lastname>
                <edit-profile:street></edit-profile:street>
                <edit-profile:town></edit-profile:town>
                <edit-profile:state></edit-profile:state>
                <edit-profile:country></edit-profile:country>
                <div data-role="fieldcontain">
                    <label for="sex">Your sex:</label>
                    <edit-profile:sex></edit-profile:sex>
                </div>
                <div data-role="fieldcontain">
                    <label for="age">Your age:</label>
                    <edit-profile:age></edit-profile:age>
                </div>
                <edit-profile:submit></edit-profile:submit>
            </lift:snippet>
        </form>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
    <!-- /content -->
</div>
<!-- /page -->
