<lift:surround with="default" at="content">
    <div id="index-page" data-role="page" data-theme="e">

        <div data-role="header" data-position="fixed">
            <img src="/static/images/beta.gif" style="float: left; height:35px; width:36px"/>
            <img class="displayed" src="/static/images/welcome.png"/>
        </div>
        <!-- /header -->

        <div data-role="content">
            <lift:snippet type="Index:render">
                <a href="">
                    <img class="displayed-logo" src="/static/images/iTunesArtwork.png" style="margin-top:30px"/>
                    <img class="displayed" src="/static/images/enter.png"/>
                </a>
            </lift:snippet>
            <h3 style="text-align:center;">or <lift:Header></lift:Header></h3>
        </div>
        <!-- /content -->

        <div data-role="footer" data-position="fixed" id="footer" class="footer-docs" style="text-align:center;">
            <p>&copy; 2013 Qoupn Ltd. v.0.4.0-SNAPSHOT</p>
        </div>
        <!-- /footer -->
    </div>
    <!-- /page -->
</lift:surround>

