<div id="link-deal-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/link-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Tap Shopping Lists to link with...</h3></div>
        </div>

        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="LinkDeal:render">
                <fieldset data-role="controlgroup" id="shopping-lists">
                    <div class="shopping-list-id"></div>
                    <div class="shopping-list-lbl"></div>
                </fieldset>
                <div class="btn"></div>
            </lift:snippet>
        </form>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
    <!-- /content -->
</div>
<!-- /page -->
