<lift:surround with="default" at="content"> <!-- TODO: hack to make things work after image upload on Add/Edit deals/coupons-->
    <div id="login-page" data-role="dialog" data-theme="a">

        <div data-role="content">
            <div class="ui-grid-a">
                <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/key.png" class="icon-image"/></div>
                <div class="ui-block-b" style="width:80%;"><h3>Enter your credentials...</h3></div>
            </div>

            <lift:msgs showAll="true"></lift:msgs>
            <form class="lift:form.ajax">
                <lift:Login>
                    <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                    <login:username></login:username>
                    <login:password></login:password>
                    <login:submit></login:submit>
                </lift:Login>
            </form>
            <a href="reset-password.html" id="reset-password" data-role="button" data-ajax="false">Reset password</a>
            <a href="index.html" data-role="button" data-ajax="false">Cancel</a>
        </div>
        <!-- /content -->

    </div>
    <!-- /page -->
</lift:surround>
