<div id="merchants-page" data-role="page" data-theme="e">
    <div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
        <ul data-role="listview" data-theme="a" class="nav-search">
            <li data-icon="delete"><a href="#merchants-page" data-rel="close">Close Menu</a></li>
            <li data-icon="custom" id="add"><a href="add-merchant.html" data-theme="e">Add Merchant</a></li>
        </ul>
    </div>

    <div data-role="header" data-position="fixed">
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
            <a href="#nav-panel" data-icon="bars" data-role="button" data-iconpos="notext" data-theme="a">Menu</a>
        </fieldset>
        <h1>Signed Up Merchants</h1>
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
            <a href="#profile-menu" data-rel="popup" id="profile" data-icon="custom" data-role="button" data-iconpos="notext" data-transition="pop" data-theme="a">View profile</a>
        </fieldset>
    </div>

    <!-- /header -->

    <div data-role="popup" id="profile-menu" data-theme="a">
        <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
            <li data-role="divider" data-theme="e">Choose an action</li>
            <li data-icon="custom" id="edit-profile"><a href="edit-profile.html" data-theme="e">Profile</a></li>
            <li data-icon="custom" id="logout-nav"><a data-theme="e" onclick="logout();">Logout</a></li>
        </ul>
    </div>

    <div data-role="content" id="merchant-list-content" class="list-overflow">
        <ul class="lift:Merchants" id="merchant-items" name="merchant-items" data-role="listview"
            data-filter-placeholder="Search merchants..." data-divider-theme="d" data-filter="true"
            data-theme="e" data-split-icon="gear" data-split-theme="a" data-count-theme="a">
            <li id="divider-item" data-role="list-divider"><span id="cnt" class="ui-li-count"></span></li>
            <li id="merchant-item">
                <a id="go-to-campaigns" href="campaigns.html?merchant-id=">
                    <img src="/"/>
                    <h3></h3>
                    <p><strong></strong></p>
                </a>
                <a id="edit-merchant" href="edit-merchant.html?merchant-id=" data-icon="edit" data-rel="dialog">Edit Merchant</a>
            </li>
        </ul>
    </div>
    <!-- /content -->

    <div data-role="footer" data-position="fixed" id="footer" class="footer-docs" style="text-align:center;">
        <p>&copy; 2013 Qoupn Ltd.</p>
    </div>
    <!-- /footer -->

</div>
