<div id="my-shopping-lists-page" data-role="page" data-theme="e">
    <div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
        <ul data-role="listview" data-theme="a" class="nav-search">
            <li data-icon="delete"><a href="#my-shopping-lists-page" data-rel="close">Close Menu</a></li>
            <li data-icon="custom" id="add"><a href="add-shopping-list.html" data-theme="e">Add Shopping List</a></li>
            <li data-icon="custom" id="my-shopping-lists"><a href="my-shopping-lists.html" data-theme="e">My Shopping Lists</a></li>
            <li data-icon="custom" id="my-merchants"><a href="my-merchants.html?type=subscribe" data-theme="e">My Merchants</a></li>
            <li data-icon="custom" id="personal-deals"><a href="personal-deals.html" data-theme="e">My Deals</a></li>
            <li data-icon="custom" id="personal-coupons"><a href="personal-coupons.html" data-theme="e">My Coupons</a></li>
            <li data-icon="custom" id="search"><a href="search.html" data-theme="e">Search</a></li>
        </ul>
    </div>

    <div data-role="header" data-position="fixed">
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
            <a href="#nav-panel" data-icon="bars" data-role="button" data-iconpos="notext" data-theme="a">Menu</a>
        </fieldset>
        <h1>My Shopping Lists</h1>
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
            <a href="#add-list" data-rel="popup" data-role="button" data-iconpos="notext" data-icon="plus" data-transition="pop" data-theme="a">Add</a>
            <a href="#profile-menu" data-rel="popup" id="profile" data-icon="custom" data-role="button" data-iconpos="notext" data-transition="pop" data-theme="a">View profile</a>
        </fieldset>
    </div>
    <!-- /header -->

    <div data-role="popup" id="profile-menu" data-theme="a">
        <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
            <li data-role="divider" data-theme="e">Choose an action</li>
            <li data-icon="custom" id="edit-profile"><a href="edit-profile.html" data-theme="e">Profile</a></li>
            <li data-icon="custom" id="show-id"><a href="show-id.html" data-theme="e">Checkout</a></li>
            <li data-icon="custom" id="logout-nav"><a data-theme="e" onclick="logout();">Logout</a></li>
        </ul>
    </div>
    <div data-role="popup" id="add-list" data-theme="a">
        <form class="lift:form.ajax">
            <lift:msgs showAll="true"></lift:msgs>
            <lift:snippet type="MyShoppingLists:renderPopup">
                <fieldset class="ui-grid-a" style="margin:0 5px;">
                    <div class="ui-block-a" style="width:85%;"><div id="name"></div></div>
                    <div class="ui-block-b" style="width:15%; margin-top:5px;"><div id="btn"></div></div>
                </fieldset>
            </lift:snippet>
        </form>
    </div>

    <div class="lift:MyShoppingLists" data-role="content" class="list-overflow">
        <ul id="shopping-lists" name="shopping-lists" data-role="listview"
            data-filter-placeholder="Search shopping lists..." data-divider-theme="d" data-filter="true"
            data-theme="e" data-split-icon="gear" data-split-theme="a" data-count-theme="a">
            <li id="divider-item" data-role="list-divider">Recent lists as of <span id="cnt" class="ui-li-count"></span></li>
            <li id="shopping-list">
                <a id="go-to-shopping-list" href="shopping-list-items.html?shopping-list-id=">
                    <img src="/static/images/icons/shopping-list.png"/>
                    <h3></h3>
                    <p> outstanding items</p>
                    <div style="display:none;" id="tags"></div>
                </a>
                <a id="popupLink" href="#" data-rel="popup" data-transition="pop" data-icon="bars" >Actions...</a>
            </li>
        </ul>
        <div class="container">
            <div data-role="popup" data-theme="a">
                <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
                    <li data-role="divider" data-theme="e">Choose an action</li>
                    <li data-icon="edit" ><a id="edit-shopping-list" href="edit-shopping-list.html?shopping-list-id=" data-rel="dialog">Edit</a></li>
                    <li data-icon="delete" ><a id="delete-shopping-list" href="delete-shopping-list.html?shopping-list-id=" data-rel="dialog">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /content -->

    <div data-role="footer" data-position="fixed" id="footer" class="footer-docs" style="text-align:center;">
        <p>&copy; 2013 Qoupn Ltd.</p>
    </div>
    <!-- /footer -->

</div>
