<div id="product-info-page" data-role="page" data-theme="e">
    <div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
        <ul data-role="listview" data-theme="a" class="nav-search">
            <li data-icon="delete"><a href="#product-info-page" data-rel="close">Close Menu</a></li>
            <li data-icon="custom" id="add"><a href="add-product-info.html" data-theme="e">Add Product Info</a></li>
        </ul>
    </div>

    <div data-role="header" data-position="fixed">
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
            <a href="#nav-panel" data-icon="bars" data-role="button" data-iconpos="notext" data-theme="a">Menu</a>
        </fieldset>
        <h1>Product Info</h1>
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
            <a href="deals.html" data-icon="back" data-role="button" data-iconpos="notext" data-theme="a">Back</a>
            <a href="#profile-menu" data-rel="popup" id="profile" data-icon="custom" data-role="button" data-iconpos="notext" data-transition="pop" data-theme="a">View profile</a>
        </fieldset>
    </div>
    <!-- /header -->

    <div data-role="popup" id="profile-menu" data-theme="a">
        <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
            <li data-role="divider" data-theme="e">Choose an action</li>
            <li data-icon="custom" id="edit-profile"><a href="edit-profile.html" data-theme="e">Profile</a></li>
            <li data-icon="custom" id="logout-nav"><a data-theme="e" onclick="logout();">Logout</a></li>
        </ul>
    </div>

    <div data-role="content" id="product-info-list-content" class="list-overflow">
        <ul class="lift:ProductInfo" id="product-info-items" name="product-info-items" data-role="listview"
            data-filter-placeholder="Search product info..." data-divider-theme="d" data-filter="true"
            data-theme="e" data-split-icon="gear" data-split-theme="a" data-count-theme="a">
            <li id="divider-item" data-role="list-divider">Product Info as of <span id="time"></span><span id="cnt" class="ui-li-count"></span></li>
            <li id="product-info-item">
                <a href="#" style="pointer-events: none; cursor: default;">
                    <img src="/static/images/icons/info.png"/>
                    <h3></h3>
                    <p>Category: <strong></strong></p>
                    <p class="description"></p>
                </a>
                <a id="delete" href="delete-product-info.html?product-info-id=" data-icon="delete">Delete</a>
            </li>
        </ul>
    </div>
    <!-- /content -->

    <div data-role="footer" data-position="fixed" id="footer" class="footer-docs" style="text-align:center;">
        <p>&copy; 2013 Qoupn Ltd.</p>
    </div>
    <!-- /footer -->

</div>
