<lift:surround with="default" at="content"> <!-- TODO: hack to make things work after image upload on Add/Edit deals/coupons-->
    <div id="reset-password-page" data-role="dialog" data-theme="a">
        <div data-role="content">
            <div class="ui-grid-a">
                <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/activate-header.png" class="icon-image"/></div>
                <div class="ui-block-b" style="width:80%;"><h3>Enter an email to reset your password...</h3></div>
            </div>
            <lift:msgs showAll="true"></lift:msgs>
            <form class="lift:form.ajax">
                <lift:snippet type="ResetPassword:render">
                    <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                    <reset-password:email></reset-password:email>
                    <reset-password:submit></reset-password:submit>
                </lift:snippet>
            </form>
            <a href="index.html" data-role="button" data-rel="back">Cancel</a>
        </div>
        <!-- /content -->
    </div>
    <!-- /page -->
</lift:surround>
