<div>
    <lift:snippet type="SearchDeals" eager_eval="true">
        <ul>
            <li id="divider-item-1" data-role="list-divider">Active Deals as of <span id="time-1"></span><span
                    id="cnt-1" class="ui-li-count"></span></li>
            <li id="deal-item">
                <a href="#" class="show-deal-ignore ui-icon-alt" data-rel="popup" data-transition="pop">
                    <img src="/"/>
                    <h2></h2>
                    <p class="ul-li-in">in: <strong></strong></p>
                    <p class="ui-li-aside">By: <strong></strong></p>
                </a>
                <a class="add-deal-ignore" href="add-active-deal.html?deal-id=" data-icon="check" data-rel="dialog">Add Deal</a>
            </li>
            <li id="divider-item-2" data-role="list-divider">Active Coupons as of <span id="time-2"></span><span
                    id="cnt-2" class="ui-li-count"></span></li>
            <li id="coupon-item">
                <a href="#" class="show-deal-ignore ui-icon-alt" data-rel="popup" data-transition="pop">
                    <img src="/"/>
                    <h2></h2>
                    <p class="ul-li-in">in: <strong></strong></p>
                    <p class="ui-li-aside">By: <strong></strong></p>
                </a>
                <a class="add-deal-ignore" href="add-active-coupon.html?coupon-id=" data-icon="check" data-rel="dialog">Add Coupon</a>
            </li>
        </ul>
        <div id="details-container">
            <div class="deal-item-details-container">
                <lift:embed what="details-popup"/>
            </div>
            <div class="coupon-item-details-container">
                <lift:embed what="details-popup"/>
            </div>
        </div>
    </lift:snippet>
</div>