<div id="search-page" data-role="page" data-theme="e">
    <div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
        <ul data-role="listview" data-theme="a" class="nav-search">
            <li data-icon="delete"><a href="#personal-deals-page" data-rel="close">Close Menu</a></li>
            <li data-icon="custom" id="add"><a href="add-shopping-list.html" data-theme="e">Add Shopping List</a></li>
            <li data-icon="custom" id="my-shopping-lists"><a href="my-shopping-lists.html" data-theme="e">My Shopping Lists</a></li>
            <li data-icon="custom" id="my-merchants"><a href="my-merchants.html?type=subscribe" data-theme="e">My Merchants</a></li>
            <li data-icon="custom" id="personal-deals"><a href="personal-deals.html" data-theme="e">My Deals</a></li>
            <li data-icon="custom" id="personal-coupons"><a href="personal-coupons.html" data-theme="e">My Coupons</a></li>
            <li data-icon="custom" id="search"><a href="search.html" data-theme="e">Search</a></li>
        </ul>
    </div>

    <div data-role="header" data-position="fixed">
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
            <a href="#nav-panel" data-icon="bars" data-role="button" data-iconpos="notext" data-theme="a">Menu</a>
        </fieldset>
        <h1>Search in... <a id="selected-merchants" href="my-merchants.html?type=search"><img src="/static/images/icons/store.png"/></a></h1>
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
            <a href="#" data-icon="refresh" data-role="button" data-theme="a" data-iconpos="notext" onclick="refreshPage();">Refresh</a>
            <a href="#profile-menu" data-rel="popup" id="profile" data-icon="custom" data-role="button" data-iconpos="notext" data-transition="pop" data-theme="a">View profile</a>
        </fieldset>
    </div>
    <!-- /header -->

    <div data-role="popup" id="profile-menu" data-theme="a">
        <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
            <li data-role="divider" data-theme="e">Choose an action</li>
            <li data-icon="custom" id="edit-profile"><a href="edit-profile.html" data-theme="e">Profile</a></li>
            <li data-icon="custom" id="show-id"><a href="show-id.html" data-theme="e">Checkout</a></li>
            <li data-icon="custom" id="logout-nav"><a data-theme="e" onclick="logout();">Logout</a></li>
        </ul>
    </div>

    <div data-role="content" id="deal-list-content" class="list-overflow">
        <ul id="autocomplete" data-role="listview" data-divider-theme="d" data-filter="true"
            data-theme="e" data-split-icon="gear" data-split-theme="a" data-count-theme="a"
            data-filter-placeholder="Search for Deals &amp; Coupons..."></ul>
        <div id="details-container"></div>
    </div>
    <!-- /content -->

    <div data-role="footer" data-position="fixed" id="footer" class="footer-docs" style="text-align:center;">
        <p>&copy; 2013 Qoupn Ltd.</p>
    </div>
    <!-- /footer -->
</div>
