<div id="shopping-list-items-page" data-role="page" data-theme="e">
    <lift:snippet type="ShoppingListItems" eager_eval="true">
        <div data-role="panel" data-position-fixed="true" data-theme="a" id="nav-panel">
            <ul data-role="listview" data-theme="a" class="nav-search">
                <li data-icon="delete"><a href="#personal-deals-page" data-rel="close">Close Menu</a></li>
                <li data-icon="custom" id="add"><a href="add-shopping-list-item.html?shopping-list-id=" id="add-link" data-theme="e">Add Item</a></li>
                <li data-icon="custom" id="my-shopping-lists"><a href="my-shopping-lists.html" data-theme="e">My Shopping Lists</a></li>
                <li data-icon="custom" id="my-merchants"><a href="my-merchants.html?type=subscribe" data-theme="e">My Merchants</a></li>
                <li data-icon="custom" id="personal-deals"><a href="personal-deals.html" data-theme="e">My Deals</a></li>
                <li data-icon="custom" id="personal-coupons"><a href="personal-coupons.html" data-theme="e">My Coupons</a></li>
                <li data-icon="custom" id="search"><a href="search.html" data-theme="e">Search</a></li>
            </ul>
        </div>
        <div class="deal-container">
            <div data-role="panel" data-position-fixed="true" data-theme="a">
                <ul data-role="listview" data-theme="a" class="nav-search">
                    <li data-icon="delete"><a href="#shopping-list-items-page" data-rel="close">Add your deal or coupon</a></li>
                    <li id="linked-item" class="withLinking">
                        <a href="#" style="pointer-events: none; cursor: default;">
                            <img src="/"/>
                            <h3></h3>
                            <p>in <strong></strong></p>
                            <p class="ui-li-aside">By: <strong></strong></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div data-role="header" data-position="fixed">
            <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
                <a href="#nav-panel" data-icon="bars" data-role="button" data-iconpos="notext" data-theme="a">Menu</a>
                <a href="my-shopping-lists.html" data-role="button" data-iconpos="notext" data-icon="back" data-theme="a">Back</a>
            </fieldset>
            <h1 id="list-name"></h1>
            <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                <a href="#add-item" data-rel="popup" data-role="button" data-iconpos="notext" data-icon="plus" data-transition="pop" data-theme="a">Add</a>
                <a href="#profile-menu" data-rel="popup" id="profile" data-icon="custom" data-role="button" data-iconpos="notext" data-transition="pop" data-theme="a">View profile</a>
            </fieldset>
        </div>
        <!-- /header -->

        <div data-role="popup" id="profile-menu" data-theme="a">
            <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
                <li data-role="divider" data-theme="e">Choose an action</li>
                <li data-icon="custom" id="edit-profile"><a href="edit-profile.html" data-theme="e">Profile</a></li>
                <li data-icon="custom" id="checkout-nav"><a href="checkout.html" data-theme="e">Checkout</a></li>
                <li data-icon="custom" id="logout-nav"><a data-theme="e" onclick="logout();">Logout</a></li>
            </ul>
        </div>

        <div data-role="popup" id="add-item" data-theme="a">
            <lift:msgs showAll="true"></lift:msgs>
            <form class="lift:form.ajax">
                <fieldset class="ui-grid-a" style="margin:0 5px;">
                    <div class="ui-block-a" style="width:85%;"><div id="name"></div></div>
                    <div class="ui-block-b" style="width:15%; margin-top:5px;"><div id="btn"></div></div>
                </fieldset>
            </form>
        </div>

        <div data-role="content" id="shopping-list-content" class="list-overflow">
            <ul id="shopping-list-items" name="shopping-list-items" data-role="listview"
                data-filter-placeholder="Search shopping list items..." data-divider-theme="d" data-filter="true"
                data-theme="e" data-split-icon="gear" data-split-theme="a" data-count-theme="a">
                <li id="divider-item" data-role="list-divider">Outstanding items as of <span id="cnt" class="ui-li-count"></span></li>
                <li id="shopping-list-item" class="withSwipe">
                    <a href="#" class="withId" style="pointer-events: none; cursor: default;">
                        <span></span>
                        <h3></h3>
                        <p> @ </p>
                        <div style="display:none;" id="desc"></div>
                    </a>
                    <a id="popupLink" href="#" data-rel="popup" data-transition="pop" data-icon="bars" >Actions...</a>
                </li>
                <li id="divider-deal-item" data-role="list-divider">Linked deals</li>
                <li id="deal-item">
                    <a href="#" class="show-deal-ignore ui-icon-alt" data-rel="popup" data-transition="pop">
                        <img src="/"/>
                        <h3></h3>
                        <p><strong></strong></p>
                        <p class="ui-li-aside">By: <strong></strong></p>
                    </a>
                    <a class="link-deal-ignore" href="link-deal.html?deal-id=" data-icon="bars" data-rel="dialog">Unlink Deal</a>
                </li>
                <li id="divider-coupon-item" data-role="list-divider">Linked coupons</li>
                <li id="coupon-item">
                    <a href="#" class="show-deal-ignore ui-icon-alt" data-rel="popup" data-transition="pop">
                        <img src="/"/>
                        <h3></h3>
                        <p><strong></strong></p>
                        <p class="ui-li-aside">By: <strong></strong></p>
                    </a>
                    <a class="link-deal-ignore" href="link-coupon.html?coupon-id=" data-icon="bars" data-rel="dialog">Unlink Coupon</a>
                </li>
            </ul>
            <div class="deal-item-details-container">
                <lift:embed what="details-popup"/>
            </div>
            <div class="coupon-item-details-container">
                <lift:embed what="details-popup"/>
            </div>
            <div class="popup-container">
                <div data-role="popup" data-theme="a">
                    <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="a">
                        <li data-role="divider" data-theme="e">Choose an action</li>
                        <li data-icon="edit" ><a id="edit-shopping-list-item" href="edit-shopping-list-item.html?shopping-list-item-id=" data-rel="dialog">Edit</a></li>
                        <li data-icon="delete" ><a id="delete-shopping-list-item" href="delete-shopping-list-item.html?shopping-list-item-id=" data-rel="dialog">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /content -->
        <div data-role="footer" data-position="fixed" id="footer" class="footer-docs" style="text-align:center;">
            <span>
                <div id="remaining-total">Remaining: </div>
                <div id="total">Total: </div>
                <div id="total-saved">Saved: </div>
            </span>
        </div>
        <!-- /footer -->
    </lift:snippet>
</div>