<div id="show-id-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/checkout-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Checkout deals &amp; coupons...</h3></div>
        </div>
        <img src="/preview-id" class="displayed"/>
        <a href="#" data-role="button" data-rel="back">Cancel</a>
    </div>
</div>