<div id="signup-page" data-role="dialog" data-theme="a">
    <div data-role="content">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:17%;"><img src="/static/images/icons/signup-header.png" class="icon-image"/></div>
            <div class="ui-block-b" style="width:80%;"><h3>Enter your information...</h3></div>
        </div>

        <lift:msgs showAll="true"></lift:msgs>
        <form class="lift:form.ajax">
            <lift:snippet type="SignUp:render">
                <!--ALL THE ELEMENTS in LIFT NOTATION SHOULD BE DECLARED WITH CLOSING TAGS (there is an error with HTML5 parser)-->
                <signup:username></signup:username>
                <signup:password></signup:password>
                <signup:password2></signup:password2>
                <signup:email></signup:email>
                <signup:firstname></signup:firstname>
                <signup:lastname></signup:lastname>
                <signup:honeypot></signup:honeypot>
                <signup:submit></signup:submit>
            </lift:snippet>
        </form>
        <a href="index.html" data-role="button" data-ajax="false">Cancel</a>
    </div>
    <!-- /content -->
</div>
<!-- /page -->
